---
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bitcoin Beach Travemünde</title>
    <meta
      name="description"
      content="Offizielle Webseite vom Bitcoin Beach in Lübeck-Travemünde"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>
